.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 2rem;
}

.container > *{
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
  }
  
  .flex-center {
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-size: 5.4rem;
    color: #1B1B1B;
    margin-bottom: 5rem;
  }
  
  h1 > span {
    font-size: 2.4rem;
    font-weight: 500;
  }

  .btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(0, 0, 0, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  }

  #reset,#start,#pause{
      padding: 2%;
      
  }
#stopwatch{
    height: 100%;
    width: 80%;
    border: 2px solid #BABABA;
    background-color: #BABABA;
    box-shadow: 0 0.4rem 2rem 0 rgba(0, 0, 0, 0.5);
}

#stopwatch-time{
   padding: 1%;
   justify-content: center;
   display: flex;
   font-size: 15rem;
}

#stopwatch-btn{
    padding: 2%;
    justify-content: center;
    display: flex;
}

#head-text{
  font-size: 10rem;
  font-family:'Segoe UI';
  text-shadow: 5px 5px #BABABA;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #1B1B1B;
    text-align: end;
    padding-right: 5%;
  }

  @media (max-width: 500px) { 
    #stopwatch-time{
      padding: 1%;
      justify-content: center;
      display: flex;
      font-size: 40px;
   }

   #head-text{
    font-size: 40px;
    font-family:'Segoe UI';
    text-shadow: 5px 5px #BABABA;
  }
}